# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django related
media/
staticfiles/

# PostgreSQL: no db.sqlite3 in use
# (but ignore any accidental sqlite db)
*.sqlite3

# Environment variables
.env

# VSCode settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# IDEs
.idea/
